<!DOCTYPE html>
<html>
<header>
    <title>Category</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/narmalize/3.0.3/normalize.min.css">
    <script src="https://use.fontawesome.com/f3626566ff.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</header>
<body>
    <header id ="top_header" class="clearfix">
        <div class="wrapper">
            <img src="logoblack.png" alt="" class="logo" width="246" height="40">
            <nav id="main_nav">
                <a href="#">Home</a>
                <a href="#">Category</a>
                <a href="#">Sign in/out</a>
            </nav>
            <form>
                <input type="search" placeholder="Search">
            </form>
        </div>
    </header>

    <section id="category" class="clearfix">
        <div class="wrapper">
            <header class="clearfix">
                <h2>ACTION</h2>
                <a href="#" class="view_more">View All Movies</a>
            </header>

            <div class="row">
                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>

                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>

                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>

                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>
        
                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>
                
                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>

                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>
            </div>
        </div>
    </section>

    <section id="category" class="clearfix">
        <div class="wrapper">
            <header class="clearfix">
                <h2>ACTION</h2>
                <a href="#" class="view_more">View All Movies</a>
            </header>

            <div class="row">
                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>

                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>

                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>
        
                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>
                
                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>

                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>

                <div class="post">
                    <img src="images/deadpool.jpg" alt="Deadpool Posters">
                </div>
            </div>
        </div>
    </section>

    <section id="category" class="clearfix">
            <div class="wrapper">
                <header class="clearfix">
                    <h2>ACTION</h2>
                    <a href="#" class="view_more">View All Movies</a>
                </header>
    
                <div class="row">
                    <div class="post">
                        <img src="images/deadpool.jpg" alt="Deadpool Posters">
                    </div>
    
                    <div class="post">
                        <img src="images/deadpool.jpg" alt="Deadpool Posters">
                    </div>
    
                    <div class="post">
                        <img src="images/deadpool.jpg" alt="Deadpool Posters">
                    </div>
            
                    <div class="post">
                        <img src="images/deadpool.jpg" alt="Deadpool Posters">
                    </div>
                    
                    <div class="post">
                        <img src="images/deadpool.jpg" alt="Deadpool Posters">
                    </div>
    
                    <div class="post">
                        <img src="images/deadpool.jpg" alt="Deadpool Posters">
                    </div>
    
                    <div class="post">
                        <img src="images/deadpool.jpg" alt="Deadpool Posters">
                    </div>
                </div>
            </div>
        </section>

    <section id="newsletter">
        <div class="newsletter_inner">
            <h2>Get MovieRadar latest updates each week.</h2>
            <div class="sign_up_form">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Email">
                <button class="button">Subscribe</button>
            </div>
        </div>

    </section>
    <footer id="main_footer">
        <p class="logo">MovieRadar</p>
        <p class="copyright">&copy;2019 MovieRadar. All Right Reserved.</p>
        <div class="links">
            <a href="#">Terms of Services</a>
            <a href="#">Privacy Policy</a>
        </div>

    </footer>
</body> 
</html>