<!DOCTYPE html>
<html>
<header>
    <title>Search Result</title>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/narmalize/3.0.3/normalize.min.css">
    <script src="https://use.fontawesome.com/f3626566ff.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

<style>

section.group.movies{
    max-width: 1280px;
    margin: auto;
}
section.group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px 30px 30px 30px;
}


section.group .item {
    width: calc(100% / 5 - 30px);
    padding-bottom: 30px;
    margin: 15px;
}
section.group .item.movie{
    position: relative;
}

div{
    display: block;
}
.item .thumbnail{
    display: block;
    padding-bottom: 150%;
    width: 100%;
    position:relative;
    background-color: #eee;

}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border: 0;
    outline: none;
}
p.cats{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2em;
    padding-top: 10px;
}
p{
    padding-bottom:  7.5px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p.cats a {
    border-bottom: 1px solid #cccccc;
}
a {
    color: #2a2a2a;
    text-decoration: none;
}
section.group .item.movie h3 {
    font-weight: normal;
}
h3 {
    padding: 10px 0 15px 0;
    font-weight: bold;
}

ul.category-nav {
    padding: 40px 30px 0 30px;
    text-align: center;
    width: calc(100% - 60px);
    position: relative;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
}
ul.category-nav li {
    display: inline-block;
    padding: 3.75px 15px;
}

ul.category-nav li.nav-section {
    display: block;
    padding-bottom: 10px;
}

</style>
</header>
<body>
    <header id ="top_header" class="clearfix">
        <div class="wrapper">
            <img src="logoblack.png" alt="" class="logo" width="246" height="40">
            <nav id="main_nav">
                <a href="#">Home</a>
                <a href="#">Category</a>
                <a href="#">Sign in/out</a>
            </nav>
        </div>

        
        <ul class="category-nav">
            <li>
                <!-- <input type="checkbox" class="filter-checkbox"> -->
                <ul class="sub-menu">
                <li class="nav-section"></li>
                <li class="cat-item "><a href="#">All</a></li>
                <li class="cat-item cat-item-11 current-cat"><a href="#" title="Classic">Classic</a>
                </li>
                <li class="cat-item cat-item-12"><a href="#" title="Criminal">Criminal</a>
                </li>
                <li class="cat-item cat-item-3"><a href="#" title="Dramatic">Dramatic</a>
                </li>
                <li class="cat-item cat-item-9"><a href="#" title="Explosive">Explosive</a>
                </li>
                <li class="cat-item cat-item-48"><a href="#" >Fun</a>
                </li>
                <li class="cat-item cat-item-49"><a href="#" >Heart Melting</a>
                </li>
                

                <li class="nav-section"></li>
                <li class="cat-item "><a href="#">2017</a></li>
                <li class="cat-item "><a href="#">2016</a></li>
                <li class="cat-item "><a href="#">2015</a></li>
                <li class="cat-item "><a href="#">2014</a></li>
                <li class="cat-item "><a href="#">2013</a></li>
                <li class="cat-item "><a href="#">2012</a></li>
                <li class="cat-item "><a href="#">2011</a></li>
                </ul>
            </li>    
        </il>

    </header>
	<section id="searchbar">
    	<form>
			<input type="search" placeholder="  Find your favorite movie">
        </form>
    </section>
    <section class="group movies">
    	<div class="item movie">
        	<div class="thumbnail"><a href="#" class="modal-click" data-id="440" data-title="Eternal Sunshine of the Spotless Mind" data-slug="eternal-sunshine-of-the-spotless-mind">
        		<img src="deadpool.jpg" title="Deadpool" /></a>
        	</div>
        	<div class="title-block">
            <p class="cats"><a href="#" rel="category tag">Action</a>, <a href="#" rel="category tag">Comedy</a></p>
            <h3><a href="#"><span style="font-weight:bold">Deadpool</span>, 2016</a></h3>
            <span class="excerpt"><p>8.0 <span>|</span> R <span>|</span> 109 mins</p></span>
        	</div>
        </div>

        <div class="item movie">
            <div class="thumbnail"><a href="#" class="modal-click" data-id="440" data-title="Eternal Sunshine of the Spotless Mind" data-slug="eternal-sunshine-of-the-spotless-mind">
                <img src="https://whatmovieshouldiwatchtonight.com/wp-content/uploads/2018/04/eternal-sunshine-of-the-spotless-mind2-1024x552.jpg" title="Eternal Sunshine of the Spotless Mind, 2004" alt="Eternal Sunshine of the Spotless Mind - Starring Jim Carrey, Kate Winslet, Gerry Robert Byrne, Elijah Wood" /></a>
            </div>

            <div class="title-block">
            <p class="cats"><a href="#" rel="category tag">Action</a>, <a href="#" rel="category tag">Classic</a></p>
            <h3><a href="#"><span style="font-weight:bold">Eternal Sunshine of the mind</span>, 2004</a></h3>
            <span class="excerpt"><p>8.0 <span>|</span> R <span>|</span> 109 mins</p></span>
			</div>
        </div>

        <div class="item movie">
            <div class="thumbnail"><a href="#" class="modal-click" data-id="440" data-title="Eternal Sunshine of the Spotless Mind" data-slug="eternal-sunshine-of-the-spotless-mind">
                <img src="https://whatmovieshouldiwatchtonight.com/wp-content/uploads/2018/04/coffee-and-cigarettes-1024x768.jpg" title="Eternal Sunshine of the Spotless Mind, 2004" alt="Eternal Sunshine of the Spotless Mind - Starring Jim Carrey, Kate Winslet, Gerry Robert Byrne, Elijah Wood" /></a>
            </div>

            <div class="title-block">
                <p class="cats"><a href="#" rel="category tag">Action</a>, <a href="#" rel="category tag">Classic</a></p>
                <h3><a href="#"><span style="font-weight:bold">Eternal Sunshine</span>, 2004</a></h3>
                <span class="excerpt"><p>8.0 <span>|</span> R <span>|</span> 109 mins</p></span>
				</div>
        </div>

        <div class="item movie">
            <div class="thumbnail"><a href="#" class="modal-click" data-id="440" data-title="Eternal Sunshine of the Spotless Mind" data-slug="eternal-sunshine-of-the-spotless-mind">
                <img src="https://whatmovieshouldiwatchtonight.com/wp-content/uploads/2018/04/coffee-and-cigarettes-1024x768.jpg" title="Eternal Sunshine of the Spotless Mind, 2004" alt="Eternal Sunshine of the Spotless Mind - Starring Jim Carrey, Kate Winslet, Gerry Robert Byrne, Elijah Wood" /></a>
            </div>

            <div class="title-block">
                <p class="cats"><a href="#" rel="category tag">Action</a>, <a href="#" rel="category tag">Classic</a></p>
                <h3><a href="#"><span style="font-weight:bold">Spotless Mind</span>, 2004</a></h3>
                <span class="excerpt"><p>8.0 <span>|</span> R <span>|</span> 109 mins</p></span>
				</div>
            </div>

		<div class="item movie">
			<div class="thumbnail"><a href="#" class="modal-click" data-id="440" data-title="Eternal Sunshine of the Spotless Mind" data-slug="eternal-sunshine-of-the-spotless-mind">
				<img src="https://whatmovieshouldiwatchtonight.com/wp-content/uploads/2018/04/coffee-and-cigarettes-1024x768.jpg" title="Eternal Sunshine of the Spotless Mind, 2004" alt="Eternal Sunshine of the Spotless Mind - Starring Jim Carrey, Kate Winslet, Gerry Robert Byrne, Elijah Wood" /></a>
            </div>

			<div class="title-block">
				<p class="cats"><a href="#" rel="category tag">Action</a>, <a href="#" rel="category tag">Classic</a></p>
				<h3><a href="#"><span style="font-weight:bold">Spotless Mind</span>, 2004</a></h3>
				<span class="excerpt"><p>8.0 <span>|</span> R <span>|</span> 109 mins</p></span>
			</div>

		</div>
		
		<div class="item movie">
			<div class="thumbnail"><a href="#" class="modal-click" data-id="440" data-title="Eternal Sunshine of the Spotless Mind" data-slug="eternal-sunshine-of-the-spotless-mind">
				<img src="https://whatmovieshouldiwatchtonight.com/wp-content/uploads/2018/04/eternal-sunshine-of-the-spotless-mind2-1024x552.jpg" title="Eternal Sunshine of the Spotless Mind, 2004" alt="Eternal Sunshine of the Spotless Mind - Starring Jim Carrey, Kate Winslet, Gerry Robert Byrne, Elijah Wood" /></a>
			</div>

			<div class="title-block">
			<p class="cats"><a href="#" rel="category tag">Action</a>, <a href="#" rel="category tag">Classic</a></p>
			<h3><a href="#"><span style="font-weight:bold">Sunshine of the Spotless Mind</span>, 2004</a></h3>
			<span class="excerpt"><p>8.0 <span>|</span> R <span>|</span> 109 mins</p></span>
			</div>
		</div>

    </section>
</body>