<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/starRating.css">
<script src="https://use.fontawesome.com/f3626566ff.js"></script>

<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

</head>
<body>
	
	<h1>Yeah! You found our secret page!</h1>
	
	<!--
	<div class="rating">
		<span>☆</span>
		<span>☆</span>
		<span>☆</span>
		<span>☆</span>
		<span>☆</span>
	</div>
-->

	
  
  
    <div id="mydiv"></div>

<!-- bukcy lecture 2
    <script type="text/babel">
      ReactDOM.render(<h1>Bucky</h1>, document.getElementById('mydiv'));
    </script>
-->	
	
<!-- lecture 3
     <script type="text/babel">
	 
      class Kimie extends React.Component {
        render() {
          return <h1>Hello Kimie!</h1>
        }
      }
      ReactDOM.render(<Kimie />, document.getElementById('mydiv'))
	  
    </script>
-->

<!-- lecture 4
	<script type="text/babel">
      class Hello extends React.Component {
        render() {
          return (<div>
                    <h1>Hello World!</h1>
                    <h2>Hello Kimie!</h2>
                  </div>
          );
        }
      }
      ReactDOM.render(<div>
        <Hello />
        <Hello />
        <Hello /> 
      </div>,document.getElementById('mydiv'))
    </script>
-->

<!-- lecture 5
	<script type="text/babel">
      class Hello extends React.Component {
        render() {
          return (<div>
                    <h1>{this.props.title}</h1>
                    <h2>{this.props.genre}</h2>
                  </div>
          );
        }
      }
      ReactDOM.render(<div>
        <Hello title='kmie' genre='romance' />
        <Hello title='another' genre='romance' />
        <Hello title='thire' genre='romance' /> 
      </div>,document.getElementById('mydiv'))
    </script>
-->	

<!-- lecture 6
<script type="text/babel">
      class Hello extends React.Component {

        edit(){
          alert("This is Edit!");
        }

        delete(){
          alert("This is dlelet"); 
        }

        render() {
          return (<div className = 'input_comment'>
                    <div>{this.props.children}</div>
                    <button onClick={this.edit}> Edit </button>
                    <button onClick={this.delete}> Deltete </button>
                  </div>
          );
        }
      }
      ReactDOM.render(
      <div>
        <Hello>Join comment!</Hello>
        <Hello>Add more comment!</Hello>
        
      </div>,document.getElementById('mydiv'))
    </script>
-->
	
<!-- lecture 7 basic parts
	class Hello extends React.Component {
          
          constructor(props) {
              super(props);
              this.state = {
                checked: true
              };
          }

          render() {
              var msg;
              if(this.state.checked){
                msg = "checked!";
              } else {
                msg = "unchecked";
              }
              return(
                <div>
                  checked is {msg};
                </div>

              );          
          }
       }
      
      ReactDOM.render(<Hello />,document.getElementById('mydiv'))
-->

<!-- lecture 7 whole parts
<script type="text/babel">
      class Hello extends React.Component {
          
          constructor(props) {
              super(props);
              this.state = {
                checked: true
              };
          }

          handleChecked = () => {
            this.setState({checked: !this.state.checked});
          }

          render() {
              var msg;
              if(this.state.checked){
                msg = "checked!";
              } else {
                msg = "unchecked";
              }
              return(
                <div>
                  <input type = "checkbox" onChange={this.handleChecked} defaultChecked={this.state.checked} />
                  <h2>checked is {msg}</h2>
                </div>

              );          
          }
       }
      
      ReactDOM.render(<Hello />,document.getElementById('mydiv'))

    </script>
-->
	
<!-- lecture 8 set state for editing and saving
	class Comments extends React.Component {

          constructor(props) {
              super(props);
              this.state = {
                editing: false
              };
          }

          edit = () =>{
            this.setState({editing: true});
          }

          save = () =>{
            this.setState({editing: false});
          }

          delete(){
            alert("This is dlelet"); 
          }

          renderNormal(){
            return (<div className = 'input_comment'>
                      <div>{this.props.children}</div>
                      <button onClick={this.edit}> Edit </button>
                      <button onClick={this.delete}> Deltete </button>
                    </div>
            );
          }

          renderForm() {
            return (<div className = 'input_comment'>
                      <textarea defaultValue = {this.props.children}></textarea>
                      <button onClick={this.save}> Save </button>
                      
                    </div>
            );
          }

          render(){
            if(this.state.editing){
              return this.renderForm();
            } else {
              return this.renderNormal();
            }
          }
      }
      ReactDOM.render(
      <div>
        <Comments>Join comment!</Comments> 
      </div>,document.getElementById('mydiv'))
-->

</body>
</html>