<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/starRating.css">
<script src="https://use.fontawesome.com/f3626566ff.js"></script>
	<script>
	</script>
</head>
<body>
	
	<h1>secret page</h1>
	
	<!--
	<div class="rating">
		<span>☆</span>
		<span>☆</span>
		<span>☆</span>
		<span>☆</span>
		<span>☆</span>
	</div>
-->
	
	<table>
 <thead>
    <tr>
      <th>Hotel</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hotel-a">
      <td>Hotel A</td>
      <td>
        <div class="stars-outer">
          <div class="stars-inner"></div>
        </div>
      </td>
    </tr>
    <tr class="hotel-b">
      <td>Hotel B</td>
      <td>
        <div class="stars-outer">
          <div class="stars-inner"></div>
        </div>
      </td>
    </tr>
 
    <!-- 3 more rows here -->
     
  </tbody>
</table>
</body>
</html>