* {
    box-sizing: border-box;
  }
  html, body {
    font-family: 'Open Sans', sans-serif;
  }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }

  #searchbar{
    margin-left:30%;
    width: 50%;
	padding: 10px;
  }
  #searchbar .button {
    border: none;
    outline: none;
    padding: 0.7em 2em;
    border-radius: 2em;
    background: #73e298;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
  }
  input {
    outline: none;
  }
  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none; 
  }
  
  
  input[type=search] {
    background: white url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #8b8b9f;
    padding: 9px 10px 9px 32px;
    width: 400px;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  input[type=search]:focus {
    width: 400px;
    background-color: #fff;
    border-color: #66CC75;
    
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
  
  
  input:-moz-placeholder {
    color: #999;
  }
  input::-webkit-input-placeholder {
    color: #999;
  }
  
  
  .wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
  }
  #top_header {
    padding-top: 1.5em;
	padding-bottom: 1.5em;
  }
  #top_header .logo {
    float: left;
  }
  #top_header #main_nav {
    float: right;
    font-size: 1.1em;
    padding-top: 1em;
  }
  #top_header #main_nav a {
    color: #8b8b9f;
    text-decoration: none;
    margin-left: 1em;
  }
  #top_header #main_nav a:hover {
    color: black;
  }
  
  
  #banner {
    background: #dadbdb;
    background-size: cover;
    width: 100%;
    padding: 6.5em 0;
  }
  #banner #banner_content_wrapper {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner #trailer {
    position: relative;
    float: left;
	 
  }

  #banner #content {
    float: left;
    width: 500px;
    margin-left: 80px;
    font-weight: 300;
    color: black;
  }
  #banner #content .title {
    display: inline;
    font-size: 1, 75em;
    color: black;
  }
  #banner #content .ratings {
    display: inline;
    margin-left: 1em;
  }
  #banner #content .ratings i {
    color: #73e298;
    font-size: 1.35em;
    margin: 0 0.15em;
  }
  #banner #content .ratings .inactive {
    color: #48494d;
  }
  #banner #content .description {
    color: black;
    font-size: 1em;
    line-height: 2;
  }
  #banner #content .info {
    color: #8b8b9f;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 3em;
  }
  #banner #content .info span {
    margin: 0 0.5em;
  }
  #top_movies {
    padding: 5em 0;
  }
  #top_movies header {
    padding: 1.5em 0;
  }
  #top_movies header h2, #top_movies header .view_more {
    display: inline;
  }
  #top_movies header h2 {
    font-size: 1.5em;
  }
  #top_movies header .view_more {
    color: #8b8b9f;
    text-decoration: none;
    float: right;
    font-size: 1em;
    margin: 0.75em 2% 0 0;
  }
 #top_movies .row {
    width: 100%;
	margin-left: 4%;
  }
  #top_movies .row .post {
    width: 15%;
    float: left;
    padding-left: 1%;
  }
  #top_movies .row .post img {
    width: 100%;
    max-width: 100%;
    border-radius: 0.5em;
  }
  #top_movies .row .post .title {
    font-size: 1.25em;
    margin: 1em 0 0 0;
    color: #252529;
  }
  #top_movies .row .post .post_info {
    font-size: 0.75em;
    color: #8b8b9f;
    margin: 0.5em 0;
  }
  #category .row {
    width: 100%;
  }
  #category .row .post {
    width: 12.5%;
    float: left;
    margin-left: 1%;
  }
  #category .row .post img {
    width: 100%;
    max-width: 100%;
    border-radius: 0.5em;
  }
  #category .row .post .title {
    font-size: 1.25em;
    margin: 1em 0 0 0;
    color: #252529;
  }
  #category .row .post .post_info {
    font-size: 0.75em;
    color: #8b8b9f;
    margin: 0.5em 0;
  }
  #newsletter {
    padding: 5em 0;
    text-align: center;
    background: #2a2a2e;
  }
  #newsletter .newsletter_inner {
    width: 600px;
    margin: 0 auto;
  }
  #newsletter h2 {
    font-size: 1.75em;
    color: white;
  }
  #newsletter .sign_up_form {
    margin-top: 3em;
  }
  #newsletter .sign_up_form input[type="text"] {
    width: 48%;
    margin: 0 0.5%;
    height: 3.25em;
    border: none;
    outline: none;
    border-radius: 0.3em;
    background: #404043;
    padding: 0.5em 1.25em;
    font-size: 0.8em;
    color: white;
  }
  #newsletter .button {
    border: none;
    outline: none;
    padding: 1em 4.5em;
    border-radius: 2em;
    background: #73e298;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    margin-top: 3em;
  }

  #main_footer {
    padding: 2.5em 0;
    text-align: center;
  }
  #main_footer .logo {
    display: inline;
  }
  #main_footer .copyright {
    color: #8b8b9f;
    font-size: 0.75em;
    margin: 0;
  }
  #main_footer .links {
    display: inline;
  }
  #main_footer .links a {
    color: #8b8b9f;
    font-size: 0.75em;
    text-decoration: none;
    margin: 0 0.5em;
  }
  #main_footer .links a:hover {
    color: #73e298;
  }
  
  #category {
    padding: 2em 0;
  }
  #category header {
    padding-bottom: 10px;

  }
  #category header h2, #category header .view_more {
    display: inline;
  }
  #category header h2 {
    font-size: 1.25em;
    margin: 0.75em 3.5% 0 0;
  }
  #category header .view_more {
    color: #8b8b9f;
    text-decoration: none;
    font-size: 1em;
    margin: 0.75em 2% 0 0;
  }
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


  body {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #333;
    background-color: #f4f4f4;
  }
  
  .user_avatar {
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: middle;
  }
  .user_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .comment_block {
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .comment_block .create_new_comment {
    width: 100%;
    padding: 20px 0;
  }
.comment_block .create_new_comment input[type=submit] {
    border: none;
    outline: none;
    padding: 0.5em 1.5em;
    border-radius: 1.5em;
    background: #73e298;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    margin-top: 10px;
	margin-right: 30px;
	float: right;

}
  .comment_block .create_new_comment .input_comment {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: calc(100% - 75px);
  }
  .comment_block .create_new_comment .input_comment input[type="text"] {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #f2f2f2;
  }
  .comment_block .create_new_comment .input_comment input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #e6e6e6;
  }
  .comment_block .new_comment {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-top: 1px solid #e6e6e6;
  }
  .comment_block .new_comment .user_comment {
    list-style-type: none;
  }
  .comment_block .new_comment .comment_body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    min-height: 65px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: .9rem;
    color: #555;
    background-color: #FFF;
    border-bottom: 2px solid #f2f2f2;
  }
  .comment_block .new_comment .comment_body .replied_to {
    margin: 5px 0px;
    background-color: #fafafa;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 5px;
  }
  .comment_block .new_comment .comment_body .replied_to p {
    padding: 5px;
  }
  .comment_block .new_comment .comment_body .replied_to span {
    color: #6495ED;
    margin-right: 2px;
  }
  .comment_block .new_comment .comment_toolbar {
    width: 100%;
  }
  .comment_block .new_comment .comment_toolbar ul {
    list-style-type: none;
    padding-left: 75px;
    font-size: 0;
  }
  .comment_block .new_comment .comment_toolbar ul li {
    display: inline-block;
    padding: 5px;
    font-size: .7rem;
    color: #d9d9d9;
  }
  .comment_block .new_comment .comment_toolbar ul li:hover {
    cursor: pointer;
  }
  .comment_block .new_comment .comment_toolbar .comment_details {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    text-align: left;
  }
  .comment_block .new_comment .comment_toolbar .comment_tools {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    text-align: right;
  }
  .comment_block .new_comment .comment_toolbar .comment_tools li:hover {
    color: #CCC;
  }
  .comment_block .new_comment .user:hover {
    color: #6495ED;
    text-decoration: underline;
  }
  .comment_block .new_comment .love:hover {
    color: #FF6347;
  }
  
  
